.main {
    padding: 20px 10px;
}

.hack h1 {
    padding-top: 0;
}

.badge-style,
.color-style,
.make-bage {
    margin-bottom: 1.95rem;
}

.badge-style img,
.color-style img {
    margin-right: 0.3rem;
}

.badge-input {
    width: 8rem;
    margin-right: 0.35rem;
    text-align: center;
    text-align-last: center;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent;
    font-weight: normal;
}

.hack code {
    color: #e96900;
}

.hack .brightgreen {
    color: #4c1;
}