.main {
    padding: 20px 10px;
}

.hack .container {
    max-width: 75rem;
}

.github-corner svg {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    fill:#151513;
    color:#fff;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

.hack h1 {
    padding-top: 0;
}

.hack .logo {
    margin-bottom: -5px;
}

.badge-style,
.color-style,
.make-bage {
    margin-bottom: 1.95rem;
}

.badge-style img,
.color-style img {
    margin-right: 0.3rem;
}

.badge-input {
    width: 7.5rem;
    margin-right: 0.35rem;
    text-align: center;
    text-align-last: center;
}

.badge-url {
    margin-top: 1rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent;
    font-weight: normal;
}

.hack code {
    padding: 0 4px;
    color: #e96900;
}

.hack .brightgreen {
    color: #4c1;
}

.hack .grey {
    color: #555;
}

.hack .code-comment {
    color: #999;
}