.main {
    padding: 20px 10px;
}

.badge-form {
    margin: 0 auto;
    text-align: center;
}

.badge-input {
    width: 10rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: transparent;
    font-weight: normal;
}