<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>Beacon - 轻量级徽章生成服务.</title>
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/hack.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body class="hack">
<div class="main container">
    <h1>Beacon - 轻量级 svg 徽章实时生成渲染服务</h1>
    <div class="alert alert-info">
        这是一个模仿 <a href="https://shields.io/" target="_blank">shields.io</a> 用来实时生成 svg 徽章的 Java Web 微服务。
    </div>

    <h2>特性</h2>
    <p><a href="https://github.com/blinkfox/beancon" target="_blank">Beacon</a> 是一个实时生成<code>svg</code>徽章的服务，你可以将本服务的徽章方便快捷的嵌入到你的 Markdown 或者 HTML 文件中。</p>
    <ul>
        <li>轻量级、简单快速</li>
        <li>易于集成，只需将<code>svg</code>徽章的链接信息按需修改即可</li>
        <li>支持多种样式风格和颜色主题</li>
    </ul>

    <h2>徽章介绍</h2>

    <h3>徽章样式风格</h3>
    <p>徽章支持以下多种样式风格，其中<code>flat</code>是默认的样式风格。</p>
    <div class="badge-style">
        <img src="http://localhost:8080/badge/Hello-flat-green.svg?style=flat" alt="flat">
        <img src="http://localhost:8080/badge/Hello/flat-square/green.svg?style=flat-square" alt="flat-square">
        <img src="http://localhost:8080/badge/Hello-plastic-green.svg?style=plastic" alt="plastic">
        <img src="http://localhost:8080/badge/Hello-social-green.svg?style=social" alt="social">
        <!-- 虽然支持下面两种，但这里先不展示下面两种"弹出式"的风格. -->
        <!--<img src="http://localhost:8080//badge/Hello-popout-green.svg?style=popout" alt="popout">-->
        <!--<img src="http://localhost:8080//badge/Hello/popout-square/green.svg?style=popout-square" alt="popout-square">-->
    </div>

    <h3>徽章颜色</h3>
    <p>徽章支持以下多种颜色，同时也支持任何3位或6位数的16进制颜色值（不含<code>#</code>号）。
        其中<code class="brightgreen">brightgreen</code>是默认颜色。</p>
    <div class="color-style">
        <img src="http://localhost:8080/badge/-brightgreen-brightgreen.svg" alt="brightgreen">
        <img src="http://localhost:8080/badge/-green-green.svg" alt="green">
        <img src="http://localhost:8080/badge/-blue-blue.svg" alt="blue">
        <img src="http://localhost:8080/badge/-yellowgreen-yellowgreen.svg" alt="yellowgreen">
        <img src="http://localhost:8080/badge/-yellow-yellow.svg" alt="yellow">
        <img src="http://localhost:8080/badge/-orange-orange.svg" alt="orange">
        <img src="http://localhost:8080/badge/-red-red.svg" alt="red">
        <img src="http://localhost:8080/badge/-blueviolet-blueviolet.svg" alt="blueviolet">
        <img src="http://localhost:8080/badge/-grey-grey.svg" alt="grey">
        <img src="http://localhost:8080/badge/-lightgrey-lightgrey.svg" alt="lightgrey">
    </div>

    <h2>制作徽章</h2>
    <h3>参数简介</h3>
    <p>制作徽章需要使用到以下几个参数，其中仅<code>message</code>参数是必须的：</p>
    <ul>
        <li><code>label</code>: 徽章左边的文字，如果不填写，将会是空值。</li>
        <li><code>message</code>: 徽章右边的文字，必填。</li>
        <li><code>color</code>: 徽章右边的背景颜色，如果不填写，将会是<code class="brightgreen">brightgreen</code>，也可以填写任何16进制的颜色值（不含<code>#</code>号）。</li>
        <li><code>style</code>: 徽章的整体风格，默认是<code>flat</code>。</li>
        <li><code>labelColor</code>: 徽章左边的背景颜色，默认是<code class="grey">grey</code>，也可以填写任何16进制的颜色值（不含<code>#</code>号）。</li>
    </ul>

    <h3>引用徽章</h3>
    <p>在 Markdown 或者 HTML 中通过引用徽章的 <code>url</code> 即可，有效的引入 <code>url</code> 的方式有如下几种，供你参考：</p>
    <div class="badge-url alert alert-info">
        <span class="code-comment"># 仅有 message 的徽章.</span><br>
        <a href="http://127.0.0.1:8080/badge/-Beacon-.svg" target="_blank">http://127.0.0.1:8080/badge/-Beacon-.svg</a><br><br>

        <span class="code-comment"># 普通的含 label, message, color 的徽章.</span><br>
        <a href="http://127.0.0.1:8080/badge/Hello-Beacon-blue.svg" target="_blank">http://127.0.0.1:8080/badge/Hello-Beacon-blue.svg</a><br><br>

        <span class="code-comment"># 也可以使用 `/` 来分割参数生成徽章.</span><br>
        <a href="http://127.0.0.1:8080/badge/Hello/Beacon/blue.svg" target="_blank">http://127.0.0.1:8080/badge/Hello/Beacon/blue.svg</a><br><br>

        <span class="code-comment"># 这是比较全面的方式，相应的参数你可以视情况来添加加即可。</span><br>
        <a href="http://127.0.0.1:8080/badge/Hello-Beacon-orange.svg?style=flat-square&labelColor=grey" target="_blank">http://127.0.0.1:8080/badge/Hello-Beacon-orange.svg?style=flat-square&labelColor=grey</a><br>
        <a href="http://127.0.0.1:8080/badge/Github/1235/.svg?style=social" target="_blank">http://127.0.0.1:8080/badge/Github/1235/.svg?style=social</a><br>
    </div>

    <h3>尝试一下</h3>
    <p>你不妨通过改变下面的输入框的值来制作你喜欢的徽章：</p>
    <div id="mark-badge" class="make-bage">
        <input id="label" type="text" v-model="badge.label" placeholder="label" class="badge-input form-control">
        <input id="message" type="text" v-model="badge.message" placeholder="message" class="badge-input form-control">
        <select id="color" v-model="badge.color" class="badge-input form-control">
            <option selected>brightgreen</option>
            <option>green</option>
            <option>blue</option>
            <option>yellowgreen</option>
            <option>yellow</option>
            <option>orange</option>
            <option>red</option>
            <option>blueviolet</option>
            <option>grey</option>
            <option>lightgrey</option>
        </select>
        <select id="badge-style" class="badge-input form-control" v-model="badge.style">
            <option selected>flat</option>
            <option>flat-square</option>
            <option>plastic</option>
            <!--<option>popout</option>-->
            <!--<option>popout-square</option>-->
            <option>social</option>
        </select>
        #<input id="labelColor" type="text" v-model="badge.labelColor" value="4c1" placeholder="labelColor" class="badge-input form-control">
        <button class="btn btn-info btn-ghost" @click="seeBadge">查看徽章</button>

        <div class="badge-url alert alert-info">http://127.0.0.1:8080/badge/{{badge.label}}-{{badge.message}}-{{badge.color}}.svg?style={{badge.style}}&labelColor={{badge.labelColor}}</div>
    </div>

    <h2>注意</h2>
    <div class="alert alert-warning">本项目目前仍旧处于测试版本，后续会不断完善。</div>
    <hr>
    <footer class="footer">
        本网站由 <a href="http://blinkfox.github.io" target="_blank">@blinkfox</a> 创建，本项目在 <a href="https://github.com/blinkfox/beancon" target="_blank">Github</a> 上已开源，欢迎您的<a href="" target="_blank">贡献</a>。
    </footer>
</div>

<script src="js/vue.js"></script>
<script>
    new Vue({
        el: '#mark-badge',
        data: {
            badge: {
                label: 'Hello',
                message: 'Beacon',
                color: 'brightgreen',
                style: 'flat',
                labelColor: 'grey'
            }
        },
        // 在 `methods` 对象中定义方法
        methods: {
            seeBadge: function () {
                var url = 'http://127.0.0.1:8080/badge/' + this.badge.label + '-' + this.badge.message + '-'
                    + this.badge.color + '.svg?style=' + this.badge.style +'&labelColor=' + this.badge.labelColor;
                window.open(url, '_blank');
            }
        }
    });
</script>
</body>
</html>